<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Book</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/all.min.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-1 d-none d-md-block  sidebar shadow text-center position-relative  pt-2">
                <a href="./index.html" ><img src="./assets/Group 1000007883.png" class="" alt="Dashboard">
                   <p class="mb-4"> Dashboard</p>
                </a>
                <a href="./mangment.html">
                    <img src="./assets/Group 1000008235.png"  alt="user managment">
                   <p class="mb-4">User Management</p></a>
                <a href="./subscriptionplan.html"class="active" target="_self">
                    <img src="./assets/Vector (2).png"  alt="Subscriptions">
                    <p class="mb-4">Subscriptions</p></a>
                <a href="./sitesetting.html">
                    <img src="./assets/Group 1000008236.png"  alt=" Settings">
                   <p class="mb-4"> Settings</p></a>
                <a href="./securitysetting.html">
                    <img src="./assets/Vector (3).png" alt="Security Settings">
                    <p class="mb-4">Security Settings</p></a>
                <a href="./backup.html" class="active">
                    <img src="./assets/Group 1000008239.png"   alt=" Settings">
                    <p class="mb-4">Backups</p></a>
                <a href="./newapi.html">
                    <img src="./assets/Group 1000008238.png"  alt=" Settings">
                    <p class="mb-4">API</p></a>
            </nav>
    
            <!-- Main Content ms-sm-auto px-md-4 -->
            <main class="col-md-11 ">
                <!-- Header -->
                <div class="d-flex justify-content-between overflow-hidden  border-bottom  nav-create py-1">
                    <div class="d-md-flex d-none mb-5 align-self-center create ms-2 position-absolute ">
                        <img src="./assets/Group 1000007853.png" class="ms-md-3 mb-md-1" alt="logo">
                        <h4 class="text-center mt-md-1 me-5 me-md-5 ms-md-2 ">CreateBook</h4>         
                    </div>
                    <div class="info_nav  d-flex align-self-center mt-3 ms-lg-3 ms-md-5 ms-1">
                        <a href=""><p class="ms-2 ms-md-5 about ms-lg-5">About Us</p></a>
                        <a href=""><p class="ms-4">Plan & Pricing</p></a>  
                    </div>
                    <div class="btn_nav  d-flex justify-content-between"> 
                        <div class="button-container d-flex  align-self-center me-2 ms-sm-5  ">
                            <button class="upgrade-button w-50 me-3">Upgrade to<span class="p-md-1 ms-1">PRO</span></button>
                            <input type="text" placeholder="Search" class="form-control  ps-md-4 position-relative  align-self-center">
                        </div>
                       
                        <div class=" ms-4 d-flex me-3">
                            <i class="fa-regular img_nav  fa-circle-question me-2 align-self-center ps-3"></i>
                            <i class="fa-regular fa-bell me-2 align-self-center ms-md-1"></i>
                            <img src="./assets/image (10).png" class="align-self-center ms-md-2"  alt="user">
                            <i class="fa-solid fa-chevron-down fa-2xs align-self-center text-muted ms-1"></i>
                        </div>
    
                    </div>
    
    
                </div>
                <div class="img_managment2 position-relative">
                    <img src="./assets/Vector (5).png" class="position-absolute top-0" alt="">
                        <h1 class="w-100 text-center">Backup</h1>
                    <img src="./assets/Vector (7).png" class="position-absolute img_line" alt="">
                    <img src="./assets/Group (3).png" class="position-absolute img_line2" alt="">    
                    <img src="./assets/Vector (4).png" class="position-absolute img_line2" alt="">
                    <img src="./assets/Vector (8).png" class="position-absolute img_line3" alt="">
                   
                </div>
                <div class="container-fluid container-lg backup">
                    <div class="d-flex justify-content-between mt-4">
                        <div class="pt-3">
                            <a href="./backup.html" target="_self" class="me-3 ">Manage Backups</a>
                            <a href="./backups.html" target="_self" class="active">Backups</a>
                        </div>
                        <div class=" d-flex">
                            <img src="./assets/Group 1000008180.png" class="align-self-center me-4" alt="question">
                            <img src="./assets/Vector (11).png" class="align-self-center me-4" alt="paper">
                            <button class="button_Adduser">Save Changes</button>
                        </div>
                    </div>
                    <div class="border  overflow-hidden rounded-5 p-3  mt-3 shadow backups_table ">
                        <div class="table-responsive">
                        <table class="table table-hover border-0  align-middle    ">
                            <thead >
                              <tr class="" >
                                <th scope="col" class="m-2">Name</th>
                                <th scope="col" class="ps-4 date">Date</th>
                                <th scope="col" class="ps-4 ps-5">Size</th>
                                <th scope="col" class=" action justify-content-center d-flex">ACTIONS</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="pt-5" scope="row">
                                    <td class=" py-3 font">Files name</td>
                                    <td class=" py-3 pe-5 font-2">5 mins ago</td>
                                    <td class="py-3 font-2 ps-5">654.64 MB</td>
                                <td class="py-3 ps-md-5 pe-md-5 ps-0 pe-0  justify-content-end d-md-flex"> 
                                    <button class="button_main_backup me-2  mb-2 d-flex  "><i class="fa-solid fa-download me-2"></i></i>Download</button>
                                    <button class="button_main_backup upload  btn btn-secondary  me-2 d-block mb-2"><i class="fa-solid fa-cloud-arrow-up me-2"></i>Upload</button>
                                    <button class=" button_main_backup delete btn btn-danger  mb-1 d-block"><i class="fa-solid fa-trash-can me-2"></i>Delete</button>
                                </td>
                              </tr>
                              <tr class="pt-5" >
                                <td class=" py-3 font">Files name</td>
                                <td class=" py-3 font-2">5 mins ago</td>
                                <td class="py-3 font-2 ps-5">654.64 MB</td>
                                <td class="py-3 ps-md-5 pe-md-5 ps-0 pe-0  justify-content-end d-md-flex"> 
                                    <button class="button_main_backup me-2  mb-2  "><i class="fa-solid fa-download me-2"></i></i>Download</button>
                                    <button class="button_main_backup upload  btn btn-secondary  me-2 d-block mb-2"><i class="fa-solid fa-cloud-arrow-up me-2"></i>Upload</button>
                                    <button class=" button_main_backup delete btn btn-danger  mb-1 d-block"><i class="fa-solid fa-trash-can me-2"></i>Delete</button>
                                </td>
                          </tr>
                          <tr class="pt-5" >
                            <td class=" py-3 font">Files name</td>
                            <td class=" py-3 font-2">5 mins ago</td>
                            <td class="py-3 font-2 ps-5">654.64 MB</td>
                            <td class="py-3 ps-md-5 pe-md-5 ps-0 pe-0  justify-content-end d-md-flex"> 
                                <button class="button_main_backup me-2  mb-2  "><i class="fa-solid fa-download me-2"></i></i>Download</button>
                                <button class="button_main_backup upload  btn btn-secondary  me-2 d-block mb-2"><i class="fa-solid fa-cloud-arrow-up me-2"></i>Upload</button>
                                <button class=" button_main_backup delete btn btn-danger  mb-1 d-block"><i class="fa-solid fa-trash-can me-2"></i>Delete</button>
                            </td>
                      </tr>
                      <tr class="pt-5" >
                        <td class=" py-3 font">Files name</td>
                        <td class=" py-3 font-2">5 mins ago</td>
                        <td class="py-3 font-2 ps-5">654.64 MB</td>
                        <td class="py-3 ps-md-5 pe-md-5 ps-0 pe-0  justify-content-end d-md-flex"> 
                            <button class="button_main_backup me-2  mb-2  "><i class="fa-solid fa-download me-2"></i></i>Download</button>
                            <button class="button_main_backup upload  btn btn-secondary  me-2 d-block mb-2"><i class="fa-solid fa-cloud-arrow-up me-2"></i>Upload</button>
                            <button class=" button_main_backup delete btn btn-danger  mb-1 d-block"><i class="fa-solid fa-trash-can me-2"></i>Delete</button>
                        </td>
                  </tr>
                              
                            </tbody>
                    
                            </table>
                    </div>
                    </div>


  

    
                </div>
            </main>
        </div>
    </div>
</body>
</html>