<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Book</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/all.min.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-1 d-none d-md-block  sidebar shadow text-center position-relative  pt-2">
                <a href="./index.html" class="dash"  ><img src="./assets/Group 1000007883.png"  alt="Dashboard">
                   <p class="mb-4"> Dashboard</p>
                </a>
                <a href="./mangment.html">
                    <img src="./assets/Group 1000008235.png"  alt="user managment">
                   <p class="mb-4">User Management</p></a>
                <a href="./subscriptionplan.html" target="_self">
                    <img src="./assets/Vector (2).png"  alt="Subscriptions">
                    <p class="mb-4">Subscriptions</p></a>
                <a href="./sitesetting.html" >
                    <img src="./assets/Group 1000008236.png"  alt=" Settings">
                   <p class="mb-4"> Settings</p></a>
                <a href="./securitysetting.html" class="active">
                    <img src="./assets/Vector (3).png" alt="Security Settings">
                    <p class="mb-4">Security Settings</p></a>
                <a href="./backup.html">
                    <img src="./assets/Group 1000008239.png"  alt=" Settings">
                    <p class="mb-4">Backups</p></a>
                <a href="./newapi.html">
                    <img src="./assets/Group 1000008238.png"  alt=" Settings">
                    <p class="mb-4">API</p></a>
            </nav>
    
            <!-- Main Content ms-sm-auto px-md-4 -->
            <main class="col-md-11 ">
                <!-- Header -->
                <div class="d-flex justify-content-between overflow-hidden  border-bottom  nav-create py-1">
                    <div class="d-md-flex d-none mb-5 align-self-center create ms-2 position-absolute ">
                        <img src="./assets/Group 1000007853.png" class="ms-md-3 mb-md-1" alt="logo">
                        <h4 class="text-center mt-md-1 me-5 me-md-5 ms-md-2 ">CreateBook</h4>         
                    </div>
                    <div class="info_nav  d-flex align-self-center mt-3 ms-lg-3 ms-md-5 ms-1">
                        <a href=""><p class="ms-2 ms-md-5 about ms-lg-5">About Us</p></a>
                        <a href=""><p class="ms-4">Plan & Pricing</p></a>  
                    </div>
                    <div class="btn_nav  d-flex justify-content-between"> 
                        <div class="button-container d-flex  align-self-center me-2 ms-sm-5  ">
                            <button class="upgrade-button w-50 me-3">Upgrade to<span class="p-md-1 ms-1">PRO</span></button>
                            <input type="text" placeholder="Search" class="form-control  ps-md-4 position-relative  align-self-center">
                        </div>
                       
                        <div class=" ms-4 d-flex me-3">
                            <i class="fa-regular img_nav  fa-circle-question me-2 align-self-center ps-3"></i>
                            <i class="fa-regular fa-bell me-2 align-self-center ms-md-1"></i>
                            <img src="./assets/image (10).png" class="align-self-center ms-md-2"  alt="user">
                            <i class="fa-solid fa-chevron-down fa-2xs align-self-center text-muted ms-1"></i>
                        </div>
    
                    </div>
    
    
                </div>
                <div class="img_managment2 position-relative">
                    <img src="./assets/Vector (5).png" class="position-absolute top-0" alt="">
                        <h1 class="w-100 text-center">Security setting</h1>
                    <img src="./assets/Vector (7).png" class="position-absolute img_line" alt="">
                    <img src="./assets/Group (3).png" class="position-absolute img_line2" alt="">    
                    <img src="./assets/Vector (4).png" class="position-absolute img_line2" alt="">
                    <img src="./assets/Vector (8).png" class="position-absolute img_line3" alt="">
                   
                </div>
                <div class="container-fluid container-lg security  padding ">
                    <h3 class="mt-4 me-2 mb-4 fw-bold ms-2 ms-md-0 ">Two-Factor Authentication Setup <span class="ps-2">Home - Profile - Two-Factor Authentication Setup</span></h3>
                    <div class="info_security pb-2 mb-4 ms-2 ms-md-0">
                        <a href="./securitysetting.html" target="_self" class="me-3 active security-mobile">Mobile application method</a>
                        <a href="./securityemail.htm" target="_self">Email authentication method</a>
                    </div>

                    <div class=" shadow rounded-3 overflow-hidden mt-4 p-4 mb-3 ms-2 ms-md-0">
                        <h4 class="mb-3">Mobile application method</h4>
                        <div class="d-flex justify-content-between info_mobile">
                            <p>Ensure seamless integration of the mobile authentication program with your Hostinger account. We strongly advise employing the following authentication applications for optimal security</p>
                            <div class="me-0 mt-1 me-md-5">
                                <button class="button_security2">Enable</button>
                            </div>
                        </div>
                       
                        <div class="d-flex info_security pb-2">
                            <div>
                                <img src="./assets/🇦🇪.png" class="me-2" alt="">
                            </div>
                               
                           <div>
                            <p>654 8945 984</p>
                            <p class="color my-1">Verified</p>
                            <p class="color_2 my-1">Coders are send by text message</p>
                           </div>
                           <div class="ms-5">
                            <i class="fa-solid fa-trash-can"></i>
                           </div>

                        </div>
                        <button class=" btn_backup mt-4 "> + Add a backup 2-step verification Phone</button>
                    </div>

    
                </div>
            </main>
        </div>
    </div>
</body>
</html>