@media (max-width: 900px){
    .email-column {
        max-width: 100px; 
        font-size: 14px; 
    }
    .button_admin3{
        background-color: #FC3441;
        font-size: 14px;
        font-weight: bold; 
        padding: 5px 10px;
        border: none; 
        border-radius: 21px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    .button_admin2{
        background-color: #EEEEEE;
        font-size: 14px;
        font-weight: bold; 
        padding: 5px 10px;
        border: none; 
        border-radius: 21px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        color: #808080;
    }
    .button_Adduser{
        background: linear-gradient(to right,#1876F1,#00BEF5);
        color: #fff;
        font-size: 14px;
        font-weight: bold; 
        padding: 5px 10px;
        border: none; 
        border-radius: 30px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        top: 30px;
        right: 20px;
    }
    .upgrade-button {
        background: linear-gradient(to right,#0185FD, #0020AE);
        color: #fff;
        font-size: 10px;
        font-weight: bold; 
        padding: 10px 25px;
        display: flex;
        border: none; 
        border-radius: 21px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    .description{
        font-size: 12px;
    }
    .button_security{
        background: linear-gradient(to right,#1876F1,#00BEF5);
        color: #fff;
        font-size: 14px;
        font-weight: bold; 
        padding: 3px 15px;
        height: 100%;
        border: none; 
        border-radius: 26px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        margin-left: 20%;
    }
}

@media (max-width: 700px)  {
    .email-column {
        max-width: 100px; 
        font-size: 14px; 
    }
    .button_admin3{
        background-color: #FC3441;
        font-size: 14px;
        font-weight: bold; 
        padding: 5px 10px;
        border: none; 
        border-radius: 21px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        margin-bottom: 10px;
    }
    .button_admin2{
        background-color: #EEEEEE;
        font-size: 14px;
        font-weight: bold; 
        padding: 5px 10px;
        border: none; 
        border-radius: 21px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        color: #808080;
    }
    .description{
        font-size: 12px;
    }
    .button_security{
        background: linear-gradient(to right,#1876F1,#00BEF5);
        color: #fff;
        font-size: 14px;
        font-weight: bold; 
        padding: 3px 15px;
        height: 100%;
        border: none; 
        border-radius: 26px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        margin-left: 20%;
    }
}